/*
Base CSS for Shinyfresh
WYSIWYG content should not be styled here, except as needed
to provide reasonable default styles. E.g., set fonts and 
colors but avoid centering.
*/
body {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #99CCFF;
    text-decoration: none;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}
table {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: normal;
    color: #003366;
    font-style: normal;
}
a {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: normal;
    color: #006699;
    text-decoration: none;
}
a:hover {
    color: #CCCCCC;
    text-decoration: none;
    font-style: italic;
}