<!DOCTYPE html>
<head>
    <title>{title}</title>
    <meta name="description" content="the personal portfolio site of Erin Barry-Dutro">
    <meta name="keywords" content="art, portfolio shinyfresh Erin Barry-Dutro printmaking representational figure painting art">
    <link rel="stylesheet" href="/static/style/shinyfresh.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/static/style/gallery.css" type="text/css" media="screen">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body>
    <div id="header">
    </div>
    <div id="meat">

    <div id="billboard" class="billboard">
        <div id="billboard_nav_prev" class="billboard_nav">
            &lt;
        </div>
        <div id="billboard_nav_next" class="billboard_nav">
            &gt;
        </div>
        <div id="billboard_contents" data-index-position="1">
            <img id="billboard_image" src="http://placehold.it/425x200?text=1"></img>
        </div>
        <div id="billboard_meta">
            <div id="billboard_title">Title 1</div>
            <div id="billboard_caption" class="billboard meta">Long text about the image, in detail, something else 123</div>
            <div id="billboard_media" class="billboard meta">ink, paper, alt-right tears</div>
            <div id="billboard_date" class="billboard meta">Jan 2017</div>
            <a id="billboard_raw_link" class="billboard meta" target="_blank" href="http://placehold.it/3000?text=1">Raw</a>
        </div>
    </div>

    <div class="wrap">

    <div class="box" data-index="1">
      <div class="boxInner selected">
        <a href="http://placehold.it/425x200?text=1"> <!-- billboard size -->
            <img src="http://placehold.it/300?text=1" /> <!-- thumbnail -->
            <div class="meta title">Title 1</div>
            <div class="meta caption">Long text about the image, in detail, something else 123</div>
            <div class="meta date">Jan 2017</div>
            <div class="meta media">ink, paper, alt-right tears</div>
            <div class="meta raw">http://placehold.it/3000?text=1</div>
        </a>
      </div>
    </div>
    <div class="box" data-index="2">
      <div class="boxInner">
        <a href="http://placehold.it/525x960?text=2"> <!-- billboard size -->
            <img src="http://placehold.it/300?text=2" /> <!-- thumbnail -->
            <div class="meta title">Title 2</div>
            <div class="meta caption">Long text about the image, in detail, something else 123</div>
            <div class="meta date">Jan 2017</div>
            <div class="meta media">ink, paper, alt-right tears</div>
            <div class="meta raw">http://placehold.it/3000?text=2</div>
        </a>
      </div>
    </div>
    <div class="box" data-index="3">
      <div class="boxInner">
        <a href="http://placehold.it/2000x200?text=3"> <!-- billboard size -->
            <img src="http://placehold.it/300?text=3" /> <!-- thumbnail -->
            <div class="meta title">Title 3</div>
            <div class="meta caption">3Long text about the image, in detail, something else 123</div>
            <div class="meta date">3Jan 2017</div>
            <div class="meta media">3ink, paper, alt-right tears</div>
            <div class="meta raw">http://placehold.it/3000?text=3</div>
        </a>
      </div>
    </div>
    <div class="box" data-index="4">
      <div class="boxInner">
        <a href="http://placehold.it/800x800?text=4"> <!-- billboard size -->
            <img src="http://placehold.it/300?text=4" /> <!-- thumbnail -->
            <div class="meta title">Title 4</div>
            <div class="meta caption">4Long text about the image, in detail, something else 123</div>
            <div class="meta date">4Jan 2017</div>
            <div class="meta media">4ink, paper, alt-right tears</div>
            <div class="meta raw">http://placehold.it/3000?text=4</div>
        </a>
      </div>
    </div>
    <div class="box" data-index="5">
      <div class="boxInner">
        <a href="http://placehold.it/2000x2000?text=5"> <!-- billboard size -->
            <img src="http://placehold.it/300?text=5" /> <!-- thumbnail -->
            <div class="meta title">Title5</div>
            <div class="meta caption">5Long text about the image, in detail, something else 123</div>
            <div class="meta date">5Jan 2017</div>
            <div class="meta media">5ink, paper, alt-right tears</div>
            <div class="meta raw">http://placehold.it/3000?text=5</div>
        </a>
      </div>
    </div>
    <div class="box" data-index="6">
      <div class="boxInner">
        <a href="http://placehold.it/425x600?text=6"> <!-- billboard size -->
            <img src="http://placehold.it/300?text=6" /> <!-- thumbnail -->
            <div class="meta title">Title 6</div>
            <div class="meta caption">6Long text about the image, in detail, something else 123</div>
            <div class="meta date">6Jan 2017</div>
            <div class="meta media">6ink, paper, alt-right tears</div>
            <div class="meta raw">http://placehold.it/3000?text=6</div>
        </a>
      </div>
    </div>
    <div class="box" data-index="8">
      <div class="boxInner">
        <a href="http://placehold.it/425x600?text=7"> <!-- billboard size -->
            <img src="http://placehold.it/300?text=7" /> <!-- thumbnail -->
            <div class="meta title">Title 7</div>
            <div class="meta caption">7Long text about the image, in detail, something else 123</div>
            <div class="meta date">7Jan 2017</div>
            <div class="meta media">7ink, paper, alt-right tears</div>
            <div class="meta raw">http://placehold.it/3000?text=7</div>
        </a>
      </div>
    </div>
    <div class="box" data-index="8">
      <div class="boxInner">
        <a href="http://placehold.it/425x600?text=8"> <!-- billboard size -->
            <img src="http://placehold.it/300?text=8" /> <!-- thumbnail -->
            <div class="meta title">Title 8</div>
            <div class="meta caption">8Long text about the image, in detail, something else 123</div>
            <div class="meta date">8Jan 2017</div>
            <div class="meta media">8ink, paper, alt-right tears</div>
            <div class="meta raw">http://placehold.it/3000?text=8</div>
        </a>
      </div>
    </div>
    <div class="box" data-index="9">
      <div class="boxInner">
        <a href="http://placehold.it/425x600?text=9"> <!-- billboard size -->
            <img src="http://placehold.it/300?text=9" /> <!-- thumbnail -->
            <div class="meta title">Title 9</div>
            <div class="meta caption">9Long text about the image, in detail, something else 123</div>
            <div class="meta date">9Jan 2017</div>
            <div class="meta media">9ink, paper, alt-right tears</div>
            <div class="meta raw">http://placehold.it/3000?text=9</div>
        </a>
      </div>
    </div>
    <div class="box" data-index="10">
      <div class="boxInner">
        <a href="http://placehold.it/600x600?text=10"> <!-- billboard size -->
            <img src="http://placehold.it/300?text=10" /> <!-- thumbnail -->
            <div class="meta title">Title 10</div>
            <div class="meta caption">10Long text about the image, in detail, something else 123</div>
            <div class="meta date">10Jan 2017</div>
            <div class="meta media">10ink, paper, alt-right tears</div>
            <div class="meta raw">http://placehold.it/3000?text=10</div>
        </a>
      </div>
    </div>
    
    </div> 
  <!-- /#wrap -->


    </div> <!-- /meat -->
    <div id="footer">
    </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
<script src="/static/script/jquery.hammer.js"></script>
<script src="/static/script/gallery.js"></script>
<script type="text/javascript" src="/static/script/googleAnalytics.js"></script>