<!DOCTYPE html>
<head>
    <title>{title}</title>
    <meta name="description" content="the personal portfolio site of Erin Barry-Dutro">
    <meta name="keywords" content="art, portfolio shinyfresh Erin Barry-Dutro printmaking representational figure painting art">
    <link rel="stylesheet" href="/static/style/shinyfresh.css" type="text/css" media="screen">
    
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body>
    <div id="header">
        <img src="/static/image/splashimgsmall.jpg">
    </div>

    <div id="meat">
        {body}
    </div> <!-- /meat -->

    <div id="footer">
    </div>
</body>
<script type="text/javascript" src="/static/script/googleAnalytics.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>