		Success!
		<br/>
		<br/>
		Your file is available at:
		<div id="success" class="green_bg" style="width:100%;word-wrap:break-word;">
			<b>{absolute_uri}</b>
		</div>
		<br/>
		<br/>
		<table>
			</tr>
				<td>
					<div id="cancel" class="red_bg white_txt">
						Close Window
					</div>
				</td>
				<td>
					<div id="return" class="blue_bg">
						Upload Another
					</div>
				</td>
			</tr>
		</table>
		<br/>
		<br/>
		<div id="reminder" class="yellow_bg">
			<p>
				Have you cleaned out the datastores recently? Remember to delete orphaned pages and files every few months.
			</p>
		</div>
		
